body {
    background-color: tomato
}

header {
    text-align: center;
}

img {
    width: 30rem;
    height: 30rem;
}

p {
    width: 30rem
}

.image-div {
    position: relative;
    cursor: pointer;
    overflow: auto;
}

.image-description {
    display: none;
    margin: 0 auto;
    position: absolute;
    width: 95%;
    padding: 12px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    overflow-wrap: break-word;
    color: white;
    background-color: rgba(47,79,79, .8);
}

.image-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.image-container > div {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.loading {
    display: none;
}