body {
    background-color: tomato
}

header {
    text-align: center;
}

img {
    width: 30rem;
    height: 30rem;
}

p {
    width: 30rem
}

.image-description {
    display: none;
}

.show-image-description {
    display: block;
}

.image-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.image-container > div {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.loading {
    display: none;
}